.admin-dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
}

.admin-dashboard-container h3 {
  font-size: 20px;
}

.dashboard-courses,
.dashboard-users,
.dashboard-reviews,
.dashboard-transactions {
  display: flex;
  flex-direction: column;
  align-items: space;
  justify-content: space-between;
  gap: 1rem;
  border: 0.2rem hidden blue;
  border-radius: 0.5rem;
  background-color: #94a7c8;
  padding: 1rem;
  width: 20%;
  min-width: 200px;
  height: 30vh;
}

.admin-dashboard-h1 {
  text-align: center;
  margin-top: 1rem;
}
