.error-message {
  position: fixed;
  left: 0;
  bottom: 50%;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 1rem;
}

.thumbnails {
  width: 200px;
  height: 150px;
}